* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  display: grid;
  place-content: center;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  font-size: 25px;
}

.container {
  height: 70vh;
  width: 50vh;
  margin-bottom: 20px;
  background-color: #232323;
  border-radius: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  background-color: #ffffffb4;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
  overflow: hidden;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 1 / -1;
  color: white;
  text-align: justify;
  overflow: hidden;
  font-size: 3rem;
  background-color: gray;
  white-space: nowrap;
  padding: 5px;
}

.btn {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid grey;
}

.orange {
  background-color: orange;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.my-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin: 30px;
}

.math-heading {
  font-size: 50px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

.my-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 100px;
}

.zero {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}
